<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <form method="post">
        <fieldset>
            <legend><h1>Calculator</h1></legend>
            <p>Please input numbers and select a math opration</p>
            <input name="first-num"><br>
            <input name="operation" type="radio" value="+" checked> +
            <input name="operation" type="radio" value="-"> -
            <input name="operation" type="radio" value="*"> *
            <input name="operation" type="radio" value="/"> / <br>
            <input name="second-num"><br>
            <br>
            <button class="button">Calculate!</button>
        </fieldset>
    </form>

</body>
</html>